[Unit]
Description = A simple hello world server added to the supervisor

[Service]
User = docker
ExecStart = /home/docker/Server --port=8080
Restart = always

[Install]
WantedBy = multi-user.target
