[Unit]
Description = A simple hello world server added to the supervisor

[Service]
User = docker
Environment = APP_PORT=8000
ExecStart = /home/docker/Server
Restart = always

[Install]
WantedBy = multi-user.target
